<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.samples.appinstaller">

    <!-- We create this permission to only let the system sends us broadcasts on our app installs -->
    <permission
        android:name="com.samples.appinstaller.permission.SEND_INSTALLER_UPDATES"
        android:protectionLevel="signatureOrSystem"
        tools:ignore="SignatureOrSystemPermissions" />

    <!-- We use this permission to install apps -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- We use this permission to uninstall apps -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <!-- We use this permission to install & uninstall apps with a better user experience -->
    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />

    <!-- We use this permission to get the list of our installed apps -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!-- We use this permission to receive broadcasts on our app installs -->
    <uses-permission android:name="com.samples.appinstaller.permission.SEND_INSTALLER_UPDATES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppInstaller">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- We receive install, update and uninstall broadcast messages through this receiver -->
        <receiver
            android:name=".workers.AppBroadcastReceiver"
            android:permission="com.samples.appinstaller.permission.SEND_INSTALLER_UPDATES">
            <intent-filter>
                <action android:name="appinstaller_install_status" />
                <action android:name="appinstaller_uninstall_status" />
                <action android:name="appinstaller_upgrade_status" />
            </intent-filter>
        </receiver>
    </application>

</manifest>